@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

@keyframes pulse1 {
    0% {
      transform: scale(1);
      opacity: 0.7;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }
  
  @keyframes pulse2 {
    0% {
      transform: scale(1);
      opacity: 0.7;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }
  
  .animate-pulse1 {
    animation: pulse1 2s ease-out infinite;
  }
  
  .animate-pulse2 {
    animation: pulse2 2s 1s ease-out infinite;
  }

  
  @keyframes ping {
    75%, 100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
.animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}